.sldsSVG-imageContainer
	+display-flex
	justify-content: center
	flex-wrap: wrap

.sldsSVG-image
	margin: 20px
	padding: 30px 20px
	width: 100px
	display: flex
	justify-content: center
	flex-direction: column

	img
		margin: 0 auto
		width: 30px
	p
		margin-top: 10px
		text-align: center
		font-size: 10px
		text-transform: capitalize

	&:hover
		background-color: #16325c
		border-radius: 4px

.sldsInput
	display: flex
	justify-content: center
	margin: 30px 0
	input
		padding: 12px
		border-radius: 4px
		width: 50%