*
	margin: 0
	padding: 0
	@include appearance(none)
	border: none
	+border-radius(0)

html, body
	height: 100%
	font-family: 'Open Sans', sans-serif
	background-color: $background-color
	color: $text-color-standard

input, select, textarea, button, a
	outline: none
	font-family: inherit
	@include box-sizing(border-box)

textarea
	-webkit-overflow-scrolling: touch

body
	zoom: 1
	position: relative
	width: 100

button
	padding: 18px 30px
	cursor: pointer
	border-radius: 4px
	background-color: #fff
	color: $background-color
	font-size: 16px
	&:hover
		@include transform(scale(.98))
		transition: all linear .2s

h1
	font-size: 50px
	line-height: 52px
	font-weight: 300
	margin-bottom: 20px
	-webkit-font-smoothing: antialiased

h2
	font-size: 35px
	line-height: 45px
	font-weight: 300
	margin-bottom: 20px
	-webkit-font-smoothing: antialiased

h3
	font-size: 22px
	line-height: 28px
	font-weight: 400
	margin-bottom: 20px
	-webkit-font-smoothing: antialiased

h4
	font-size: 20px
	line-height: 26px
	font-weight: 400
	margin-bottom: 10px
	-webkit-font-smoothing: antialiased

a
	color: $text-color-standard
	img
		outline-color: none
	&:hover
		text-decoration: none

p
	font-size: 16px
	line-height: 24px
	font-weight: 300



