////////////////////////////////////
/////Variables for Style Guide/////
//////////////////////////////////

$text-color-standard: #FFF
$background-color: #54698d
$desktop-padding: 20px
$frame-desktop: 820px
$secondary-text: #0C9EEF
$main-link-color: #0C9EEF
$component-border: #E4E4E4
$component-background: #E1E1E1

