////////////////////////////////////
/////Variables for Style Guide/////
//////////////////////////////////

$text-color-standard: #FFF
$background-color: #54698d
$dark-blue: #16325c
$desktop-padding: 20px
$frame-desktop: 820px

