* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none; }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  background-color: #16325c; }

input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box; }

textarea {
  -webkit-overflow-scrolling: touch; }

body {
  zoom: 1;
  position: relative;
  width: 100; }

button {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  color: #54698d;
  font-size: 16px; }

h1 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 300;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased; }

h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 300;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased; }

h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased; }

a {
  color: #FFF; }

a img {
  outline-color: none; }

a:hover {
  text-decoration: none; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }

.sldsSVG-background {
  height: 100%;
  width: 100%;
  background-color: #54698d; }

.sldsSVG-mainFrame {
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0 10px 0; }

.sldsSVG-mainFrame h1 {
  text-align: center; }

.sldsSVG-mainFrame h3 {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  text-transform: capitalize; }

@media only screen and (max-width: 799px) {
  .sldsSVG-header {
    padding: 0 20px; } }

.sldsSVGFooter {
  width: 100%;
  background-color: #16325c; }

@media only screen and (min-width: 800px) {
  .sldsSVGFooter {
    padding: 40px 0; } }

.sldsSVGFooter-mainFrame {
  max-width: 900px;
  margin: 0 auto; }

@media only screen and (min-width: 800px) {
  .sldsSVGFooter-mainFrame {
    display: flex;
    justify-content: space-between; }
  .sldsSVGFooter-mainFrame--column {
    width: 45%; } }

@media only screen and (max-width: 799px) {
  .sldsSVGFooter-mainFrame {
    padding: 28px 20px; }
  .sldsSVGFooter-mainFrame h3 {
    margin-bottom: 10px; } }

.sldsSVGFooter-mainFrame p {
  line-height: 28px; }

@media only screen and (min-width: 800px) {
  .sldsSVGFooter-mainFrame p {
    margin-bottom: 12px; } }

@media only screen and (max-width: 799px) {
  .sldsSVGFooter-mainFrame p {
    margin-bottom: 25px; } }

.hide {
  display: none; }

.show {
  display: block; }

.sldsSVG-imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.sldsSVG-image--custom, .sldsSVG-image--utility, .sldsSVG-image--standard, .sldsSVG-image--action, .sldsSVG-image--doctype {
  margin: 10px;
  padding: 25px 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.sldsSVG-image--custom img, .sldsSVG-image--utility img, .sldsSVG-image--standard img, .sldsSVG-image--action img, .sldsSVG-image--doctype img {
  margin: 0 auto;
  width: 30px; }

.sldsSVG-image--custom p, .sldsSVG-image--utility p, .sldsSVG-image--standard p, .sldsSVG-image--action p, .sldsSVG-image--doctype p {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize; }

.sldsSVG-image--custom:hover, .sldsSVG-image--utility:hover, .sldsSVG-image--standard:hover, .sldsSVG-image--action:hover, .sldsSVG-image--doctype:hover {
  border-radius: 4px;
  transition: all linear .3s; }

.sldsSVG-image--custom:hover {
  background-color: #7e8be4; }

.sldsSVG-image--custom img {
  width: 45px; }

.sldsSVG-image--utility:hover {
  background-color: #ef7ead; }

.sldsSVG-image--utility p {
  margin-top: 10px; }

.sldsSVG-image--standard:hover {
  background-color: #fe8f60; }

.sldsSVG-image--standard img {
  width: 45px; }

.sldsSVG-image--standard p {
  margin-top: 10px; }

.sldsSVG-image--action:hover {
  background-color: #00c6b7; }

.sldsSVG-image--action p {
  margin-top: 10px; }

.sldsSVG-image--doctype:hover {
  background-color: #16325c; }

.sldsSVG-image--doctype p {
  margin-top: 10px; }

.sldsSVG-sectionTitle {
  width: 100%; }

.sldsInput {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0; }

.sldsInput input {
  padding: 12px;
  border-radius: 4px;
  width: 660px; }

.sldsSectionLinks {
  width: 660px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex; }

.sldsSectionLinks--custom, .sldsSectionLinks--utility, .sldsSectionLinks--standard, .sldsSectionLinks--action, .sldsSectionLinks--doctype, .sldsSectionLinks--about {
  padding: 5px 10px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #FFF;
  border-radius: 4px;
  opacity: .8;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px; }

.sldsSectionLinks--custom:hover, .sldsSectionLinks--utility:hover, .sldsSectionLinks--standard:hover, .sldsSectionLinks--action:hover, .sldsSectionLinks--doctype:hover, .sldsSectionLinks--about:hover {
  text-decoration: underline; }

.sldsSectionLinks--custom {
  background-color: #7e8be4; }

.sldsSectionLinks--utility {
  background-color: #ef7ead; }

.sldsSectionLinks--standard {
  background-color: #fe8f60; }

.sldsSectionLinks--action {
  background-color: #00c6b7; }

.sldsSectionLinks--doctype {
  background-color: #16325c; }

.sldsSectionLinks--about {
  background-color: #fff;
  color: #16325c; }

.sldsStickyTop {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #16325c;
  width: 100%;
  padding: 10px 0;
  font-weight: 100;
  transition: all .5s ease 0s; }

.sldsStickyTop.hide {
  top: -40px; }

.sldsWarning {
  max-width: 700px;
  margin: 0 auto;
  background-color: #16325c;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  line-height: 22px;
  margin-bottom: 30px;
  position: relative; }

.sldsWarning span {
  font-size: 14px; }

.sldsWarning-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer; }

.sldsWarning-close img {
  width: 20px;
  height: 20px; }
