@import common.sass

//////////////////////////////
/////Iterative Variables/////
////////////////////////////
$types: 'custom', 'utility', 'standard', 'action', 'doctype'
$typeVariable: $custom-color, $utility-color, $standard-color, $action-color, $doctype-color

/////////////////////////
/////Imagine Layout/////
///////////////////////
.sldsSVG-imageContainer
	display: flex
	justify-content: center
	flex-wrap: wrap

%sldsSVG-image
	margin: 10px
	padding: 25px 10px
	width: 100px
	display: flex
	justify-content: center
	flex-direction: column

	img
		margin: 0 auto
		width: 30px

	p
		font-size: 10px
		line-height: 16px
		text-align: center
		text-transform: capitalize

	&:hover
		border-radius: 4px
		transition: $transition_standard

@for $i from 1 through length($types)
	.sldsSVG-image--#{nth($types, $i)}
		@extend %sldsSVG-image

		&:hover
			background-color: nth($typeVariable, $i)

		@if nth($types, $i) == custom or nth($types, $i) == standard
			img
				width: 45px

		@if nth($types, $i) != custom
			p
				margin-top: 10px

.sldsSVG-sectionTitle
	width: 100%

/////////////////
/////Search/////
///////////////
.sldsInput
	margin: 20px 0 20px 0
	position: relative
	width: 100%

	input
		padding: 12px
		border-radius: 4px
		width: 100%

	button.sldsInput-clear
		position: absolute
		display: flex
		right: 10px
		top: 10px
		padding: 5px
		width: 20px
		height: 20px
		border-radius: 50%
		background-color: $background-color
		opacity: .3

		&:hover
			opacity: .6
			transition: $transition_long

		&.hide
			display: none

		img
			width: 100%

////////////////////////
/////Section Links/////
//////////////////////
.sldsSectionLinks
	flex-wrap: wrap
	margin: 0 auto
	display: flex

%sldsSectionLinksButtons
	padding: 5px 10px
	margin-bottom: 20px
	font-size: 11px
	letter-spacing: 1px
	color: $text-color-standard
	border-radius: 4px
	opacity: 1
	text-decoration: none
	text-transform: uppercase
	transition: $transition_standard

	&:not(last-child)
	margin-right: 10px

	&:hover
		text-decoration: underline
		opacity: .8

@for $k from 1 through length($types)
	.sldsSectionLinks--#{nth($types, $k)}
		@extend %sldsSectionLinksButtons
		background-color: nth($typeVariable, $k)

.sldsSectionLinks--about
	@extend %sldsSectionLinksButtons
	background-color: #fff
	color: $dark-blue

////////////////////
/////Go to Top/////
//////////////////
.sldsStickyTop
	@include media(to-small-screens)
		position: fixed
		text-align: center
		background-color: $dark-blue
		width: 100%
		padding: 10px 0
		font-weight: 100
		//To Do: Need to fix transitions with enter and leave animations
		transition: transform 5s linear
		transform: translateY(0)

		&.hide
			transform: translateY(-40px)

		img
			display: none

	@include media(above-small-screens)
		position: fixed
		bottom: 20px
		right: 20px
		padding: 10px
		background-color: $dark-blue
		width: 30px
		height: 30px
		border-radius: 4px
		opacity: .8
		cursor: pointer

		&:hover
			transition: $transition_standard
			opacity: 1

		span
			display: none

		img
			width: 100%

.sldsStickyRight
	position: fixed
	bottom: 20px
	right: 20px
	background-color: $dark-blue
	width: 40px
	height: 40px

////////////////////////////
/////Warning Component/////
//////////////////////////
.sldsWarning
	margin: 0 auto
	background-color: $dark-blue
	text-align: center
	border-radius: 4px
	line-height: 22px
	margin-bottom: 30px
	position: relative

	@include media(handhelds)
		padding: 30px

	@include media(except-handhelds)
		padding: 20px

	span
		font-size: 14px

	&-close
		position: absolute
		right: 10px
		top: 10px
		cursor: pointer

		img
			width: 20px
			height: 20px