@import common.sass

/////////////////////////
/////Imagine Layout/////
///////////////////////

.sldsSVG-imageContainer
	display: flex
	justify-content: center
	flex-wrap: wrap

.sldsSVG-image
	margin: 10px
	padding: 25px 10px
	width: 100px
	display: flex
	justify-content: center
	flex-direction: column

	img
		margin: 0 auto
		width: 30px
		&.customIcon-image
			width: 45px

	p
		font-size: 10px
		line-height: 16px
		text-align: center
		text-transform: capitalize

	p:not(.customIcon-text)
		margin-top: 10px

	&:hover
		background-color: $dark-blue
		border-radius: 4px
		transition: all linear .3s

.sldsSVG-sectionTitle
	width: 100%

/////////////////
/////Search/////
///////////////

.sldsInput
	display: flex
	justify-content: center
	margin: 20px 0 80px 0
	input
		padding: 12px
		border-radius: 4px
		width: 660px
	a
		align-self: center
		margin-left: 30px
		opacity: .7
		text-decoration: none
		&:hover
			opacity: 1