@import common.sass

/////////////////////////
/////Imagine Layout/////
///////////////////////

.sldsSVG-imageContainer
	display: flex
	justify-content: center
	flex-wrap: wrap

.sldsSVG-image
	margin: 10px
	padding: 25px 10px
	width: 100px
	display: flex
	justify-content: center
	flex-direction: column

	img
		margin: 0 auto
		width: 30px
		&.customIcon-image
			width: 45px

	p
		font-size: 10px
		line-height: 16px
		text-align: center
		text-transform: capitalize

	p:not(.customIcon-text)
		margin-top: 10px

	&:hover
		background-color: $dark-blue
		border-radius: 4px
		transition: all linear .3s

.sldsSVG-sectionTitle
	width: 100%

/////////////////
/////Search/////
///////////////

.sldsInput
	display: flex
	justify-content: center
	margin: 20px 0 20px 0
	input
		padding: 12px
		border-radius: 4px
		width: 660px

////////////////////////
/////Section Links/////
//////////////////////
.sldsSectionLinks
	width: 660px
	margin: 0 auto
	display: flex

	a
		padding: 5px 10px
		background-color: white
		font-size: 10px
		color: black
		border-radius: 4px
		opacity: .8
		text-decoration: none

	a:not(last-child)
		margin-right: 10px

	a:hover
		text-decoration: underline

////////////////////
/////Go to Top/////
//////////////////
.sldsStickyTop
	position: fixed
	top: 0
	text-align: center
	background-color: $dark-blue
	width: 100%
	padding: 10px 0
	font-weight: 100
	transition: all .5s ease 0s;

	&.hide
		top: -40px
