<div class="sldsSVG-mainFrame--about">
	<h1>Oh Hey</h1>
	<p>These icons belong to an open source design system called the <a href="https://www.lightningdesignsystem.com/" target="_blank">Salesforce Lightning Design System</a> (also known as SLDS), built by the Salesforce UX team. Check out the <a href="https://github.com/salesforce-ux/design-system" target="_blank">Github Repository</a> for a more in-depth look at the icons and code. </p>

	<p>Documentation on how to use these icons with SLDS is located <a href="https://www.lightningdesignsystem.com/components/icons/" target="_blank">here</a>. Or you can <a href="https://www.lightningdesignsystem.com/downloads/" target="_blank">download the icons and other SLDS resources</a>.

	<p>You can contribute to this project by going to <a href="https://github.com/ashlynaiu/slds-svg-search" target="_blank">the Github repo</a>.</p>
</div>
