<div class="sldsSVG-mainFrame">
	<h1>Easy SLDS SVG Search</h1>
	<div class="sldsInput">
		<input ng-model="searchText" placeholder="Search Icons">
	</div>

	<h3>Action Icons</h3>
	<div class="sldsSVG-imageContainer">
		<div class="sldsSVG-image" ng-repeat="svgAction in svgActions | filter:searchText">
				<img src="icons/{{svgAction.type}}/{{svgAction.url}}.svg" alt="{{svgAction.name}}" />
				<p>{{svgAction.name}}</p>
		</div>
	</div>

	<h3>Custom Icons</h3>
	<div class="sldsSVG-imageContainer">
		<div class="sldsSVG-image" ng-repeat="svgCustom in svgCustoms | filter:searchText">
				<img src="icons/{{svgCustom.type}}/{{svgCustom.url}}.svg" alt="{{svgCustom.name}}" class="customIcon-image"/>
				<p class="customIcon-text">{{svgCustom.name}}</p>
		</div>
	</div>
</div>
